body {
    background-color: rgb(230, 233, 200);
}

.container {
    width: 1000px;
}

.img-thumbnail {
    height: 200px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .kartu {
        width: 90%;
    }
}