body {
    background-color: rgb(230, 233, 200);
}

.container {
    width: 1000px;
}

.img-thumbnail {
    height: 200px;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 18px;
}


/* Login style */

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-floating {
    margin-bottom: 6px;
}

.login {
    margin: 100px;
}

.register {
    margin: 80px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .kartu {
        width: 90%;
    }
}